body {
    background-image: url(flowers.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0; 
}

div {
    height: 60vh;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(128, 215, 255);
}

table {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
}

button{
    margin-top: 20px;
    border-color: rgb(0, 152, 172);
    color: black;
    background-color: rgb(0, 234, 255);
}
