body{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(126, 255, 126);
}

.card{
    height: 900px;
    width: 700px;
    padding: 5px;
    margin: 5px;
    border: 5px solid black;
    background-color: rgb(255, 169, 89);
    text-align: center;
    border-radius: 20px;
}

.img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid black;
}

.timetable th, .timetable td{
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}

.timetable th{
    background-color: black;
    color: white;
}

.firstr{
    background-color: rgb(131, 131, 131);
    color: white;
}

.secondr{
    background-color: rgb(104, 104, 104);
    color: white;
}