.pawan{
    color: azure;
    background-color: red;
}

.box1{
    background-color: rgb(255, 179, 179);
    color: black;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    /* border-top-left-radius: 10px;
    border-bottom-right-radius: 10px; */

    float: left;
    position: relative;
}

.box2{
    background-color: yellow;
    color: black;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    /* border-top-left-radius: 10px;
    border-bottom-right-radius: 10px; */

    float: left;
    position: relative;
}

.box3{
    background-color: green;
    color: black;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    /* border-top-left-radius: 10px;
    border-bottom-right-radius: 10px; */

    float: left;
    position: relative;
}

#box1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    position: relative;
}

#box2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

#box3{
    background-color: purple;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

#box1:hover{
    background-color: rgb(255, 0, 0);
    border-radius: 20%;
    border: none;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}