body{
    display:flex;
    align-items:center;
    justify-content:center;
}

.card{
    height: 500px;
    width: 250px;
    padding: 5px;
    margin: 5px;
    border: 5px solid black;
    background-color: rgb(117, 177, 255);
    text-align: center;
    border-radius: 20px;
}

.img{
    width: 105px;
    height: 150px;
    border-radius: 50px;
    object-fit: cover;
    border: 1px solid black;
}
