body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(79, 79, 79);
}
table{
    align-items: center;
    justify-content: center;
    display: flex;
}

div {
        display: flexbox;
        width: 500px;
        height: 250px;
        color: rgb(0, 0, 0);
        background-color: rgb(253, 255, 140);
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20px;
        box-shadow: 
            0 4px 6px red
            0 10px 15px blue;
}

.fail{
    color: red;
    background-color: rgb(151, 151, 151);
}

.pass{
    color: rgb(55, 255, 0);
    background-color: rgb(151, 151, 151);
}
