body{
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    padding: 20px;
}

.title{
    text-align: center;
    margin-bottom: 10px;
}

.timetable{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}
.timetable th, .timetable td{
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}

.timetable th{
    background-color: black;
    color: white;
}

.break{
    background-color: rgb(16, 255, 44);
    font-weight: bold;
}

.lunch{
    background-color: rgb(0, 255, 42);
    font-weight: bold;
}

.firstr{
    background-color: rgb(255, 166, 166);
}

.secondr{
    background-color: rgb(208, 92, 92);
}